menu "NS Google OAuth 2.0 Client Configuration"

    config GOOGLE_CLIENT_ID
        string "Clinet ID"
        default ""
        help
            Set Client ID.

    config GOOGLE_CLIENT_SECRET
        string "Client Secret"
        default ""
        help
            Set client secret.

    config GOOGLE_REFHRESH_TOKEN
        string "Initial refresh token"
        default ""
        help
            Set initial refresh token.

    config GOOGLE_TOKEN_EXPIRE_TIME
        int "Valid token duration"
        default 3600
        help
            Token expires in this.

endmenu
