menu "Blink Config"

    config BLINK_GPIO
        int "Blink GPIO number"
        range 0 48
        default 0 if IDF_TARGET_ESP32
        default 8 if IDF_TARGET_ESP32C3
        default 45 if IDF_TARGET_ESP32S3
        default 5
        help
            Set GPIO number (IOxx) to blink.

    config BLINK_PERIOD
        int "Blink period"
        range 1000 10000
        help
            Set blink period in sec..

endmenu
